@model Tracker.Models.TrackerModels.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Exercise Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Exercise Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>

        <dt>
            @Html.Label("Muscles Worked Out")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bodyPart)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExerciseID }) |
    @Html.ActionLink("Back to Exercise List", "Index")
</p>
