@model Tracker.Models.TrackerModels.Workout

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Workout</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Exercise Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>

        <dt>
            @Html.Label("Weight Lifted")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repetition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repetition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set)
        </dd>

        <dt>
            @Html.Label("Workout Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkoutDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/> 
            
        </div>
        <br />
        <div align="center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.WorkoutID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.WorkoutID }) |
            @Html.ActionLink("Back to Workout List", "Index")

        </div>
    }
</div>
