@model Tracker.Models.TrackerModels.Workout

@{
    ViewBag.Title = "Details";
}

<h2>Workout Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.WorkoutMaster.WorkoutName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkoutMaster.WorkoutName)
        </dd>
        <dt>
           @Html.DisplayNameFor(model => model.Exercises.ExerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercises.ExerciseName)
        </dd>

        <dt>
            @Html.Label("Weight Lifted")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightLifted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repetition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repetition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Set)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Set)
        </dd>

        <dt>
            @Html.Label("Workout Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkoutDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkoutID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.WorkoutID }) |
    
    @Html.ActionLink("Back to Workout List", "Index")
</p>
