@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Tracker.Models.TrackerModels.Workout>

@{
    ViewBag.Title = "Index";
}

<h2>Workouts</h2>

<div align ="right">
<form asp-controller="Workouts" asp-action="Index">
    <p>


        @using (Html.BeginForm("Index", "Workouts", FormMethod.Get))
        {
        <p>
            Search: @Html.TextBox("searchString")

            <input type="submit" value="Search" />
        </p>
        }
        </p>
    </form>
    </div>


<table class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.Label("Exercise Name")
            </th>
            <th>
                @Html.Label("Weight Lifted")
            </th>
            <th>
                @Html.Label("Repetition")
            </th>
            <th>
                @Html.Label("Set")
            </th>
            <th>
                @Html.Label("Workout Date")
            </th>
            <th></th>
        </tr>
@if (Model.Count() == 0)
{ <tr><td colspan="6"> Records Not Found. Please Return to @Html.ActionLink("Workout List", "Index")</td></tr>}
else
{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExerciseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeightLifted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repetition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Set)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkoutDate)
                </td>

                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.WorkoutID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.WorkoutID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.WorkoutID })
                </td>
            </tr>
        }
    }

    </table>
    </table>
<br />

<div align="center">
    @Html.ActionLink("Add New Workout", "Create") |
    @Html.ActionLink("Add New Exercise", "Create", "Exercises") |
    @Html.ActionLink("View All Workouts", "Index")
     </div>

@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber}))